@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #161a1d;
}

main {
  background-color: #161a1d;
  padding-bottom: 4em;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: clamp(3rem, 2rem + 4vw, 6rem);
}

h2 {
  font-size: clamp(2.7rem, 2rem + 1.5vw, 3.4rem);
  line-height: clamp(4rem, 1rem + 2vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 1rem + 1.5vw, 2.6rem);
}

h4 {
  font-size: clamp(1.6rem, 1rem + 1.5vw, 1.8rem);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: clamp(1.4rem, 1rem + 1.1vw, 1.7rem);
  line-height: clamp(3rem, 1rem + 1.5vw, 3.2rem);
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1cca59;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper {
  width: min(100% - 2rem, 120rem);
  margin: 0 auto;
}
@media (min-width: 100rem) {
  .wrapper {
    width: min(100% - 4rem, 140rem);
  }
}

.section {
  text-align: center;
  padding: 4em 0;
}
.section__title {
  margin-bottom: 2em;
  padding-left: 0.5em;
  font-family: "Cinzel", serif;
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-left: 5px solid #1cca59;
}
.section__title span {
  color: #1cca59;
  font-weight: 600;
}
.section--wavy {
  padding: 7em 0;
}

main {
  position: relative;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  overflow: auto;
}
@media (min-width: 48rem) {
  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes shake {
  0%, 42% {
    transform: rotate(0deg) scale(1);
  }
  45% {
    transform: rotate(-20deg) scale(1.1);
  }
  48% {
    transform: rotate(20deg) scale(1.1);
  }
  51% {
    transform: rotate(-20deg) scale(1.1);
  }
  54% {
    transform: rotate(20deg) scale(1.1);
  }
  57%, 100% {
    transform: rotate(0deg) scale(1);
  }
}
@keyframes arrow-down {
  from {
    transform: translate(-50%, 0);
  }
  to {
    transform: translate(-50%, 30px);
  }
}
.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.7em 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 60px;
  z-index: 500;
  cursor: pointer;
}
.navbar__logo svg {
  display: block;
  height: 100%;
  width: 100%;
}
.navbar__logo svg .cls-1 {
  fill: #fff;
  transition: 0.3s;
}
.navbar__logo:focus, .navbar__logo:hover {
  outline: none;
}
.navbar__logo:focus svg .cls-1, .navbar__logo:hover svg .cls-1 {
  fill: #1cca59;
}
.navbar__menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5em;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.navbar__menu::before, .navbar__menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 950px;
  height: 950px;
  z-index: 100;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
}
.navbar__menu::before {
  content: "";
  transform: translate(50%, -50%) scale(0);
  background-color: #1cca59;
  border-radius: 50%;
}
.navbar__menu::after {
  content: "";
  transform: translate(50%, -50%) scale(0);
  background-color: #161a1d;
  border-radius: 40%;
}
.navbar__menu--active {
  opacity: 1;
  pointer-events: all;
}
.navbar__menu--active::before {
  transform: translate(45%, -50%) scale(1.15);
  opacity: 0.8;
}
.navbar__menu--active::after {
  transform: translate(45%, -50%) scale(1);
  opacity: 1;
}
@media (min-width: 48rem) {
  .navbar__menu {
    padding: 0;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    opacity: 1;
    pointer-events: all;
  }
}
.navbar__list, .navbar__socials {
  position: relative;
  text-align: center;
  z-index: 500;
}
@media (min-width: 48rem) {
  .navbar__list, .navbar__socials {
    display: flex;
    align-items: center;
  }
}
.navbar__socials {
  display: flex;
  margin-top: 1em;
  opacity: 0;
}
.navbar__socials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 1px;
  background-color: #fff;
}
@media (min-width: 48rem) {
  .navbar__socials::before {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 1px;
    height: 50%;
  }
}
@media (min-width: 48rem) {
  .navbar__socials {
    opacity: 1;
    margin: 0 0 0 1em;
    padding-left: 1em;
  }
}
.navbar__list-item a, .navbar__socials-item a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: color 0.3s;
  opacity: 0;
}
.navbar__list-item a:hover, .navbar__list-item a:focus, .navbar__socials-item a:hover, .navbar__socials-item a:focus {
  color: #1cca59;
  outline: none;
}
@media (min-width: 48rem) {
  .navbar__list-item a, .navbar__socials-item a {
    opacity: 1;
  }
}
.navbar__list-item a {
  padding: 1em 2em;
  font-size: 1.8rem;
}
@media (min-width: 48rem) {
  .navbar__list-item a {
    padding: 1em 1.5em;
  }
  .navbar__list-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 3px;
    width: 70%;
    background-color: #1cca59;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .navbar__list-item a:focus::after, .navbar__list-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.navbar__socials-item a {
  padding: 1em;
  font-size: 3.5rem;
}
@media (min-width: 48rem) {
  .navbar__socials-item a {
    padding: 0.4em 0.5em;
    font-size: 3rem;
  }
}
.navbar .hamburger {
  z-index: 500;
}
@media (min-width: 48rem) {
  .navbar .hamburger {
    display: none;
  }
}

.navbar__menu--active .navbar__list-item a {
  animation: fromshadow 0.3s 0.2s forwards;
}
.navbar__menu--active .navbar__list-item:nth-child(2) a {
  animation-delay: 0.3s;
}
.navbar__menu--active .navbar__list-item:nth-child(3) a {
  animation-delay: 0.4s;
}
.navbar__menu--active .navbar__list-item:nth-child(4) a {
  animation-delay: 0.5s;
}
.navbar__menu--active .navbar__socials {
  animation: fromshadow 0.3s 0.6s forwards;
}
.navbar__menu--active .navbar__socials-item a {
  animation: fromshadow 0.3s 0.7s forwards;
}
.navbar__menu--active .navbar__socials-item:nth-child(2) a {
  animation-delay: 0.8s;
}

@keyframes fromshadow {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.footer {
  position: relative;
  background-color: #101316;
  color: rgba(255, 255, 255, 0.8);
  z-index: 500;
}
.footer .wrapper {
  padding: 2em 0 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  text-align: center;
}
@media (min-width: 48rem) {
  .footer .wrapper {
    grid-template-rows: auto 1fr;
  }
}
.footer__main {
  padding-bottom: 2em;
  margin-bottom: 1em;
  grid-column: 1/3;
  grid-row: 1/2;
  border-bottom: 1px solid rgba(28, 202, 89, 0.5);
}
.footer__logo {
  width: min(40%, 80px);
}
.footer__title {
  margin-top: 0.5em;
  font-family: "Dancing Script", cursive;
  font-size: clamp(2.8rem, 1rem + 1.5vw, 3.4rem);
}
.footer__copyright, .footer__creator {
  font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
  color: rgba(255, 255, 255, 0.7);
}
.footer__copyright {
  grid-column: 1/3;
  grid-row: 2/3;
}
@media (min-width: 48rem) {
  .footer__copyright {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: left;
  }
}
.footer__creator {
  grid-column: 1/3;
  grid-row: 3/4;
}
@media (min-width: 48rem) {
  .footer__creator {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
  }
}
.footer__wave-c, .footer__wave, .footer__wave::after {
  position: absolute;
}
.footer__wave-c {
  top: -100px;
  left: 0;
  right: 0;
  height: 100px;
  overflow: hidden;
}
.footer__wave {
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background-image: url("../src/img/footer/wave.svg");
  background-repeat: repeat-x;
  background-position: bottom;
}
.footer__wave {
  animation: wave-animation 25s infinite ease-out alternate;
}
@media (min-width: 48rem) {
  .footer__wave {
    animation-duration: 75s;
  }
}

@keyframes wave-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.btn {
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #1cca59;
  cursor: pointer;
}
.btn a {
  display: inline-block;
  padding: 1em 2em;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: clamp(1.6rem, 1rem + 1vw, 3rem);
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

:root {
  --mask: radial-gradient(67.08px at 50% 90px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
  	radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
  	radial-gradient(67.08px at 50% calc(100% - 90px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
  	radial-gradient(67.08px at 50% calc(100% + 60px), #0000 99%, #000 101%) 50% calc(100% - 30px) / 120px
  		calc(51% - 30px) repeat-x;
}

.header {
  position: relative;
  overflow: hidden;
}
.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: 100vh;
  color: #fff;
  text-align: center;
}
.header__logo {
  width: clamp(200px, 100px + 50vw, 400px);
}
.header__heading {
  letter-spacing: 5px;
  text-transform: capitalize;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.header__btn-scrolldown {
  position: absolute;
  bottom: 15%;
  left: 50%;
  font-size: 4rem;
  color: #fff;
  transition: color 0.3s;
  animation: arrow-down 3s infinite ease-out;
}
.header__btn-scrolldown i {
  padding: 1em;
}
.header__btn-scrolldown:hover {
  color: #1cca59;
}
.header__video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.header__video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
@media (min-width: 62rem) {
  .header__video-bg video {
    position: fixed;
  }
}
.header__layer-peaks-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 150px;
  width: 100%;
}
.header__layer-peaks {
  width: 100%;
  height: 100%;
  background-image: url("../src/img/home/layered-peaks-haikei.svg");
  background-position: bottom;
  background-size: cover;
}

.about-us {
  padding: 3em 0 4em;
  scroll-margin-top: 50px;
  background-color: #161a1d;
}
.about-us__content {
  display: grid;
  gap: 3em;
}
@media (min-width: 62rem) {
  .about-us__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 5em;
  }
}
@media (min-width: 62rem) {
  .about-us__section-basicinfo {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
  }
}
.about-us__section-logo {
  display: none;
}
@media (min-width: 62rem) {
  .about-us__section-logo {
    display: block;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.about-us__section-strenghts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4em;
  width: 100%;
}
@media (min-width: 62rem) {
  .about-us__section-strenghts {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 0;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}
.about-us__logo {
  width: min(80%, 450px);
}
.about-us__title {
  font-family: "Dancing Script", cursive;
  font-size: clamp(3rem, 3rem + 2vw, 5rem);
  background-image: linear-gradient(0deg, rgb(28, 202, 89) 0%, rgb(41, 53, 86) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us__desc {
  margin: 1em 0;
}
.about-us__btn-to-offer {
  background-color: #1cca59;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 10px;
}
.about-us__btn-to-offer a {
  padding: 1.2em;
  display: block;
  width: 100%;
}
.about-us__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  gap: 4em;
}
.about-us__socials a {
  font-size: 5rem;
  transition: color 0.3s, transform 0.3s;
}
.about-us__socials a:focus, .about-us__socials a:hover {
  color: #1cca59;
  outline: none;
  transform: scale(1.1);
}

.strength {
  padding: 0 2em;
  max-width: 40rem;
  color: #fff;
  transition: transform 0.3s;
}
.strength:hover {
  transform: scale(1.1);
}
.strength__icon i {
  font-size: 4rem;
  color: #1cca59;
  text-shadow: 0 0 10px rgba(28, 202, 89, 0.4);
}
.strength__title {
  margin: 1em 0 0.7em;
  font-size: clamp(2.2rem, 1rem + 2vw, 2.3rem);
  font-weight: 700;
  letter-spacing: 1px;
}
.strength__desc {
  margin-top: 0.5em;
  font-size: clamp(1.6rem, 1rem + 2vw, 1.8rem);
  line-height: 3rem;
}

.brands {
  position: relative;
  background-image: url("../src/img/home/brands/brands-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  mask: var(--mask);
  -webkit-mask: var(--mask);
}
@media (min-width: 48rem) {
  .brands {
    background-image: url("../src/img/home/brands/brands-bg-desktop.jpg");
  }
}
@media (min-width: 62rem) {
  .brands {
    background-attachment: fixed;
  }
}
.brands ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}
.brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(2em + 1vw);
}
.brands__item {
  width: min(60%, 270px);
  transition: transform 0.3s;
}
.brands__item:focus, .brands__item:hover {
  transform: scale(1.1);
}
.brands__item--white {
  filter: invert(1);
}

/* 
// Masaic styles
// Link under feed
.crt-widget.crt-widget-branded .crt-logo.crt-tag {
	display: none;
}

// Container bg
.crt-widget-mosaic .crt-post-instagram {
	background-color: c.$second;
	// background-color: rgba($color: c.$main, $alpha: 0.8);
}
.crt-widget-mosaic .crt-feed {
	box-shadow: 0 0 50px rgba($color: c.$main, $alpha: 0.2);
	border-radius: 15px;
}
// button
.crt-widget .crt-load-more-container .crt-load-more {
	background-color: c.$main;
	border-radius: 25px;
	transition: background-color 0.3s;
	&:hover {
		background-color: rgba($color: c.$main, $alpha: 0.8);
	}
}
*/
.crt-carousel-feed.crt-controls-over > div {
  border-radius: 15px;
  box-shadow: 0 0 50px rgba(28, 202, 89, 0.2);
}

div.crt-controls-over .crt-panel-next,
div.crt-controls-over .crt-panel-prev {
  background-color: #1cca59;
  transition: transform 0.3s;
}
div.crt-controls-over .crt-panel-next:hover,
div.crt-controls-over .crt-panel-prev:hover {
  transform: translateY(-50%) scale(1.1);
}

.crt-widget.crt-widget-branded .crt-logo.crt-tag {
  color: #fff;
  font-size: 1.2rem;
}

@media (min-width: 48rem) {
  .instagram__container {
    padding: 0 5em;
  }
  div.crt-controls-over .crt-panel-next {
    right: -75px;
  }
  div.crt-controls-over .crt-panel-prev {
    left: -75px;
  }
}
.quotes {
  position: relative;
  background-image: url("../src/img/home/testimonials/testimonials-bg-mobile.jpg");
  background-position: center;
  background-size: cover;
  mask: var(--mask);
  -webkit-mask: var(--mask);
}
@media (min-width: 48rem) {
  .quotes {
    background-image: url("../src/img/home/testimonials/testimonials-bg-desktop.jpg");
  }
}
@media (min-width: 62rem) {
  .quotes {
    background-attachment: fixed;
  }
}
.quotes::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.quotes__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}
@media (min-width: 48rem) {
  .quotes__container {
    flex-direction: row;
  }
}
.quotes .swiper {
  height: 100%;
  width: 100%;
}
.quotes .swiper .swiper-slide {
  margin: auto 0;
  padding-bottom: 2.5em;
  max-width: 600px;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.quotes .swiper .swiper-button-next,
.quotes .swiper .swiper-button-prev {
  color: #1cca59;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
@media (min-width: 62rem) {
  .quotes .swiper .swiper-button-next,
  .quotes .swiper .swiper-button-prev {
    display: none;
  }
}
.quotes .swiper .swiper-pagination {
  bottom: -20px;
}
.quotes .swiper .swiper-pagination-bullet {
  border: 1px solid #fff;
}
.quotes .swiper .swiper-pagination-bullet-active {
  background-color: #1cca59;
  border: 1px solid #161a1d;
}

.quote {
  position: relative;
  padding: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  color: #161a1d;
  background-color: #dddddd;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.quote::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 100px;
  height: 100px;
  color: red;
  background-image: url("../src/img/home/testimonials/quote.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(50%) rotate(180deg);
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.quote__text {
  font-style: italic;
  font-size: clamp(1.4rem, 1rem + 0.8vw, 1.6rem);
}
.quote__author {
  padding: 1em;
  border-top: 2px solid #1cca59;
  font-weight: 700;
  font-size: 1.8rem;
  transition: color 0.3s;
}
.quote__author:hover {
  color: #1cca59;
}

.faq__items-c {
  text-align: left;
}
.faq__item {
  position: relative;
  padding: 2em 0;
  transition: color 0.4s;
  cursor: pointer;
}
.faq__item--active {
  color: #1cca59;
}
@media (min-width: 75rem) {
  .faq__item:focus-within, .faq__item:hover {
    color: #1cca59;
  }
}
.faq__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(28, 202, 89, 0.8);
  box-shadow: 0 0 3px rgba(28, 202, 89, 0.9), 0 0 8px rgba(28, 202, 89, 0.9), 0 0 11px rgba(28, 202, 89, 0.9), 0 0 14px rgba(28, 202, 89, 0.9), 0 0 17px rgba(28, 202, 89, 0.9);
}
.faq__item:first-child::before {
  display: none;
}
.faq__item-header {
  display: flex;
  justify-content: space-between;
}
.faq__item-question {
  font-size: clamp(1.6rem, 1rem + 1.7vw, 2.1rem);
  font-weight: 600;
  letter-spacing: 1px;
}
.faq__item-btn {
  margin-left: 1em;
  font-size: 3rem;
  color: inherit;
  background: none;
  border: 1px solid transparent;
  cursor: inherit;
  vertical-align: middle;
  transition: transform 0.4s;
}
.faq__item-btn:focus, .faq__item-btn:hover {
  transform: scale(1.2);
  outline: none;
}
.faq__item-answer {
  padding: 0.5em 1em 0;
  max-height: 0;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}
.faq__footer {
  margin-top: 2em;
}
.faq__footer h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.faq__footer p {
  margin: 1em 0;
  color: rgba(255, 255, 255, 0.8);
}
.faq__footer-btn {
  margin-top: 0.2em;
  font-size: 5rem;
  color: inherit;
  background: none;
  border: 1px solid transparent;
  transition: color 0.3s;
  cursor: pointer;
  animation: shake 4s linear infinite;
}
.faq__footer-btn:hover {
  color: #1876f2;
}

.header-offer__logo {
  position: relative;
  width: clamp(200px, 100px + 50vw, 400px);
  z-index: 10;
}
.header-offer__heading {
  position: relative;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.header-offer__content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: clamp(300px, 80vw, 700px);
}
.header-offer__content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../src/img/offer/hero-mobile.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: static;
}
@media (min-width: 48rem) {
  .header-offer__content::before {
    background-image: url("../src/img/offer/hero-desktop.jpg");
  }
}
@media (min-width: 62rem) {
  .header-offer__content::before {
    background-attachment: fixed;
  }
}
.header-offer__content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.categories {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
@media (min-width: 48rem) {
  .categories {
    flex-direction: row;
  }
}

.category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  max-height: 125px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 15px rgb(0, 0, 0);
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 48rem) {
  .category {
    max-height: none;
    height: 600px;
    flex-grow: 1;
    transition: flex-grow 0.8s;
  }
}
.category--1 {
  background-image: url("../src/img/offer/category/category-1--mobile.jpg");
}
.category--2 {
  background-image: url("../src/img/offer/category/category-2--mobile.jpg");
}
.category--3 {
  background-image: url("../src/img/offer/category/category-3--mobile.jpg");
}
.category--4 {
  background-image: url("../src/img/offer/category/category-4--mobile.png");
}
.category::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgb(0, 0, 0);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}
.category__title {
  padding: 0.5em 1em;
  font-size: clamp(1.8rem, 1rem + 1vw, 2rem);
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  background-color: #1cca59;
  border-radius: 0 0 25px 0;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 100;
  transition: 0.8s;
}
@media (min-width: 48rem) {
  .category__title {
    position: absolute;
    bottom: 1em;
    left: 0;
    padding: 0.5em;
    letter-spacing: 0px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    border-radius: 0 25px 25px 0;
  }
}
.category__body {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  opacity: 0;
}
@media (min-width: 48rem) {
  .category__body {
    padding: 2em;
    gap: 2em;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
  }
}
.category__desc {
  font-size: clamp(1.4rem, 1.5vw, 1.7rem);
  text-align: justify;
}
.category__btn {
  padding: 1em 1.5em;
  align-self: flex-end;
  font-size: clamp(1.4rem, 1rem + 1.2vw, 1.7rem);
  color: #fff;
  background-color: #1cca59;
  border-radius: 25px;
}
.category--active {
  z-index: 100;
  box-shadow: inset 0 0 15px rgb(0, 0, 0), 0 0 15px rgba(28, 202, 89, 0.8);
  cursor: auto;
}
.category--active::before {
  opacity: 1;
}
.category--active .category__title {
  box-shadow: 5px 5px 25px rgba(28, 202, 89, 0.8);
}
.category--active .category__body {
  opacity: 1;
}
@media (min-width: 48rem) {
  .category--active {
    box-shadow: inset 0 0 15px rgb(0, 0, 0);
    flex-grow: 8;
  }
  .category--active::before {
    opacity: 0;
  }
  .category--active .category__title {
    bottom: 85%;
    width: 100%;
    font-size: 2.2rem;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0;
    box-shadow: none;
    writing-mode: horizontal-tb;
    text-orientation: sideways;
  }
  .category--active .category__body {
    opacity: 0;
    animation: show-cat-content 0.8s 0.7s forwards;
    transform: translateX(-50%);
  }
}

@keyframes show-cat-content {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.products__category-list {
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.products__category-title {
  position: relative;
  margin-bottom: 1em;
  padding: 0.5em 0.5em 0.5em 0;
  text-align: left;
  letter-spacing: 2px;
}
.products__category-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #1cca59;
}
.products__list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
@media (min-width: 48rem) {
  .products__list {
    padding: 0;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 2em;
  }
}

.product {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  background-color: #161a1d;
  box-shadow: 2px 2px 15px rgba(28, 202, 89, 0.4);
}
.product::before {
  content: "";
  position: absolute;
  background: linear-gradient(45deg, #ff0000 0%, #ff9a00 10%, #d0de21 20%, #4fdc4a 30%, #3fdad8 40%, #2fc9e2 50%, #1c7fee 60%, #5f15f2 70%, #ba0cf8 80%, #fb07d9 90%, #ff0000 100%) repeat 0% 0%/300% 100%;
  inset: -1px;
  filter: blur(8px);
  animation: rgb 6s infinite linear;
  transition: opacity 0.4s;
  opacity: 0;
}
.product__title, .product__body {
  position: relative;
}
.product__body, .product__front, .product__back {
  height: 100%;
  width: 100%;
}
.product__back, .product__info-list {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.product__title {
  padding: 0.4em;
  font-family: "Cinzel", serif;
  color: #1cca59;
  font-weight: 500;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.3);
  background-color: #161a1d;
  transition: color 0.4s;
}
.product__title::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 3px;
  transform: translateX(-50%) scaleX(0);
  height: 3px;
  width: 75%;
  background-color: #1cca59;
  border-radius: 15px;
  transition: transform 0.4s ease;
}
@media (min-width: 48rem) {
  .product__title {
    padding: 0.8em;
  }
}
.product__body {
  overflow: hidden;
}
.product__front {
  position: absolute;
}
.product__front > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__back {
  padding: 2em 1em;
  justify-content: space-between;
  align-items: center;
  transform: translateY(100%);
  background-color: #161a1d;
  pointer-events: none;
  transition: transform 0.4s ease;
}
.product__info-list {
  display: none;
  text-transform: uppercase;
}
.product__info-list li {
  position: relative;
}
.product__info-list li::before {
  content: "";
  position: absolute;
  bottom: -0.75em;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  width: 100%;
  background-color: #1cca59;
}
.product__info-list li:last-child::before {
  display: none;
}
@media (min-width: 48rem) {
  .product__info-list {
    display: flex;
  }
}
.product__btn {
  position: relative;
  padding: 0.5em;
  color: #1cca59;
  font-size: 3rem;
  text-shadow: 0 0 35px rgba(28, 202, 89, 0.7);
  transition: transform 0.3s, color 0.3s, text-shadow 0.3s;
}
.product__btn i {
  pointer-events: none;
}
.product__btn::before {
  content: "Szczegółowy opis";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(15px);
  color: #fff;
  font-size: 1rem;
  line-height: 1.5rem;
  transition: transform 0.5s;
}
.product__btn:hover {
  transform: scale(1.3);
  color: #fff;
  text-shadow: 0 0 15px #1cca59, 0 0 35px #1cca59;
}
.product__btn:hover::before {
  transform: translateX(-50%) translateY(15px);
}
@media (min-width: 48rem) {
  .product__btn::before {
    transform: translateX(-50%) translateY(300%);
  }
}
.product:hover::before {
  opacity: 1;
}
.product:hover .product__title {
  color: #fff;
}
.product:hover .product__title::before {
  transform: translateX(-50%) scaleX(1);
}
.product:hover .product__back {
  pointer-events: all;
  transform: translateZ(10px);
}

@keyframes rgb {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.modal-product {
  margin-top: 5em;
  padding: 2em 1em;
  position: relative;
  display: grid;
  gap: 2em;
  background-color: #161a1d;
}
@media (min-width: 48rem) {
  .modal-product {
    grid-template-columns: 45% 1fr;
    grid-template-rows: auto 1fr auto;
    padding: 2em;
    margin: 0;
    border-radius: 25px;
    width: min(100%, 1000px);
  }
}
.modal-product__title {
  font-family: "Cinzel", serif;
  color: #1cca59;
  text-shadow: 2px 2px 15px rgba(255, 255, 255, 0.3);
  letter-spacing: 1px;
}
@media (min-width: 48rem) {
  .modal-product__title {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.modal-product__image {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 48rem) {
  .modal-product__image {
    grid-column: 1/2;
    grid-row: 1/-1;
    width: min(100%, 450px);
  }
}
.modal-product__desc {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
@media (min-width: 48rem) {
  .modal-product__desc {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}
.modal-product__desc-title {
  margin-bottom: 0.5em;
  color: #1cca59;
  letter-spacing: 2px;
}
.modal-product__desc-short {
  text-align: justify;
}
.modal-product__desc-specification li {
  position: relative;
  padding-left: 1em;
  font-size: clamp(1.4rem, 1rem + 1.2vw, 1.8rem);
  line-height: clamp(3rem, 1rem + 1.5vw, 3.2rem);
}
.modal-product__desc-specification li::before {
  content: "+ ";
  position: absolute;
  left: 0;
  color: #1cca59;
  margin-right: 0.5em;
}
.modal-product__close-btn--top {
  padding: 0.7em;
  position: absolute;
  top: 0.3em;
  right: 0.3em;
  font-size: 3rem;
  color: #fff;
  transition: color 0.3s;
}
.modal-product__close-btn--top:hover {
  color: rgba(255, 0, 0, 0.8);
}
.modal-product__close-btn--bottom {
  padding: 0.5em;
  color: #fff;
  font-size: clamp(2rem, 1rem + 1.5vw, 2.4rem);
  background-color: #1cca59;
  border-radius: 25px;
  transition: background-color 0.3s;
}
.modal-product__close-btn--bottom:hover {
  background-color: rgba(28, 202, 89, 0.7);
}
@media (min-width: 48rem) {
  .modal-product__close-btn--bottom {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.find-us {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.find-us__container {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
@media (min-width: 48rem) {
  .find-us__container {
    flex-direction: row;
  }
}
.find-us__title {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: clamp(2.7rem, 2rem + 1.5vw, 4rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: slide-left 0.4s 0s forwards linear;
}
.find-us__title::before, .find-us__title::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
}
.find-us__title::before {
  left: -3%;
  bottom: -12%;
  border-left: 2px solid #1cca59;
  border-bottom: 2px solid #1cca59;
}
.find-us__title::after {
  right: -3%;
  top: -12%;
  border-right: 2px solid #1cca59;
  border-top: 2px solid #1cca59;
}
.find-us__container-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
@media (min-width: 48rem) {
  .find-us__container-l {
    align-items: flex-start;
  }
}
.find-us__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: slide-left 0.6s 0s forwards linear;
}
.find-us__address div {
  display: flex;
  margin-bottom: 2em;
}
.find-us__address i {
  color: #1cca59;
}
.find-us__address span {
  display: inline-block;
  text-align: left;
}
.find-us__address span > i {
  margin-right: 0.5em;
  font-size: 3rem;
  vertical-align: -5px;
}
.find-us__address span a {
  display: inline-block;
  margin-top: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: underline;
  letter-spacing: 1px;
}
.find-us__address span a i {
  margin-left: 0.5em;
  font-size: 2rem;
}
.find-us__address > a {
  display: inline-block;
  margin-top: 1.5em;
  text-transform: uppercase;
}
.find-us__address > a i {
  margin-right: 0.2em;
  font-size: 2.5rem;
  vertical-align: middle;
}
.find-us__address a {
  transition: color 0.3s, transform 0.3s;
}
.find-us__address a:hover {
  color: #1cca59;
  transform: scale(1.1);
}
.find-us__map {
  width: min(100%, 800px);
  height: min(100vw, 600px);
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 6px;
  background: linear-gradient(45deg, rgb(28, 202, 89) 0%, #161a1d 40%, #161a1d 60%, rgb(28, 202, 89) 100%);
  background-repeat: no-repeat;
  animation: show-map 1s forwards ease-out;
}

@keyframes slide-left {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show-map {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  z-index: 0;
}/*# sourceMappingURL=main.css.map */