*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  background-color: #161a1d;
}

h1 {
  font-size: clamp(3rem, 2rem + 2vw, 8rem);
}

h2 {
  font-size: clamp(2.7rem, 2rem + 1.5vw, 5rem);
}

h3 {
  font-size: clamp(2rem, 1rem + 1.5vw, 2.4rem);
}

h4 {
  font-size: clamp(1.6rem, 1rem + 1.5vw, 1.8rem);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: clamp(1.4rem, 1rem + 1.2vw, 1.8rem);
  line-height: clamp(3rem, 1rem + 1.5vw, 3.2rem);
}

ul {
  list-style: none;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 1;
}
.hamburger.is-active:hover {
  opacity: 1;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #1cca59;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * Spin
 */
.hamburger--spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.wrapper {
  width: min(100% - 2rem, 120rem);
  margin: 0 auto;
}
@media (min-width: 100rem) {
  .wrapper {
    width: min(100% - 4rem, 140rem);
  }
}

.section {
  text-align: center;
  padding: 7em 0;
}
.section__title {
  display: inline-block;
  position: relative;
  margin-bottom: 2em;
  font-family: "Cinzel", serif;
  color: rgb(253, 253, 254);
  font-weight: 500;
  text-align: center;
  letter-spacing: 4px;
  text-shadow: 1px 1px 3px rgba(253, 253, 254, 0.05), 2px 3px 4px rgba(253, 253, 254, 0.1), 3px 5px 4px rgba(253, 253, 254, 0.15), 4px 6px 4px rgba(253, 253, 254, 0.2);
}
.section__title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15%;
  transform: translate(-50%);
  height: 5px;
  width: 45%;
  background-color: #1cca59;
  border-radius: 25px;
}
.section--wavy {
  padding: 9em 0;
}

main {
  position: relative;
}

.main-layout {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0.7em 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
}
.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
  width: 60px;
  z-index: 500;
  cursor: pointer;
}
.navbar__logo svg {
  display: block;
  height: 100%;
  width: 100%;
}
.navbar__logo svg .cls-1 {
  fill: #fff;
  transition: 0.3s;
}
.navbar__logo:focus, .navbar__logo:hover {
  outline: none;
}
.navbar__logo:focus svg .cls-1, .navbar__logo:hover svg .cls-1 {
  fill: #1cca59;
}
.navbar__menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5em;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.navbar__menu::before, .navbar__menu::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 950px;
  height: 950px;
  z-index: 100;
  transition: opacity 0.5s, transform 0.5s;
  opacity: 0;
}
.navbar__menu::before {
  content: "";
  transform: translate(50%, -50%) scale(0);
  background-color: #1cca59;
  border-radius: 50%;
}
.navbar__menu::after {
  content: "";
  transform: translate(50%, -50%) scale(0);
  background-color: #161a1d;
  border-radius: 40%;
}
.navbar__menu--active {
  opacity: 1;
  pointer-events: all;
}
.navbar__menu--active::before {
  transform: translate(45%, -50%) scale(1.15);
  opacity: 0.8;
}
.navbar__menu--active::after {
  transform: translate(45%, -50%) scale(1);
  opacity: 1;
}
@media (min-width: 48rem) {
  .navbar__menu {
    padding: 0;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    opacity: 1;
    pointer-events: all;
  }
}
.navbar__list, .navbar__socials {
  position: relative;
  text-align: center;
  z-index: 500;
}
@media (min-width: 48rem) {
  .navbar__list, .navbar__socials {
    display: flex;
    align-items: center;
  }
}
.navbar__socials {
  display: flex;
  margin-top: 1em;
  opacity: 0;
}
.navbar__socials::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 50%;
  height: 1px;
  background-color: #fff;
}
@media (min-width: 48rem) {
  .navbar__socials::before {
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 1px;
    height: 50%;
  }
}
@media (min-width: 48rem) {
  .navbar__socials {
    opacity: 1;
    margin: 0 0 0 1em;
    padding-left: 1em;
  }
}
.navbar__list-item a, .navbar__socials-item a {
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: color 0.3s;
  opacity: 0;
}
.navbar__list-item a:hover, .navbar__list-item a:focus, .navbar__socials-item a:hover, .navbar__socials-item a:focus {
  color: #1cca59;
  outline: none;
}
@media (min-width: 48rem) {
  .navbar__list-item a, .navbar__socials-item a {
    opacity: 1;
  }
}
.navbar__list-item a {
  padding: 1em 2em;
  font-size: 1.8rem;
}
@media (min-width: 48rem) {
  .navbar__list-item a {
    padding: 1em 1.5em;
  }
  .navbar__list-item a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15%;
    height: 3px;
    width: 70%;
    background-color: #1cca59;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .navbar__list-item a:focus::after, .navbar__list-item a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.navbar__socials-item a {
  padding: 1em;
  font-size: 3.5rem;
}
@media (min-width: 48rem) {
  .navbar__socials-item a {
    padding: 0.4em 0.5em;
    font-size: 3rem;
  }
}
.navbar .hamburger {
  z-index: 500;
}
@media (min-width: 48rem) {
  .navbar .hamburger {
    display: none;
  }
}

.navbar__menu--active .navbar__list-item a {
  animation: fromshadow 0.3s 0.2s forwards;
}
.navbar__menu--active .navbar__list-item:nth-child(2) a {
  animation-delay: 0.3s;
}
.navbar__menu--active .navbar__list-item:nth-child(3) a {
  animation-delay: 0.4s;
}
.navbar__menu--active .navbar__list-item:nth-child(4) a {
  animation-delay: 0.5s;
}
.navbar__menu--active .navbar__socials {
  animation: fromshadow 0.3s 0.6s forwards;
}
.navbar__menu--active .navbar__socials-item a {
  animation: fromshadow 0.3s 0.7s forwards;
}
.navbar__menu--active .navbar__socials-item:nth-child(2) a {
  animation-delay: 0.8s;
}

@keyframes fromshadow {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.footer {
  padding: 4em 0 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 4em;
}
@media (min-width: 48rem) {
  .footer .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer__logo {
  width: min(80%, 450px);
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 4em;
}
.footer__socials a {
  font-size: 4rem;
  transition: color 0.3s;
}
.footer__socials a:focus, .footer__socials a:hover {
  color: #1cca59;
  outline: none;
}
.footer__list ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.footer__list-title {
  margin-bottom: 1.5em;
  color: #1cca59;
  letter-spacing: 1px;
}
.footer__list-item a {
  font-size: clamp(1.4rem, 1rem + 1.5vw, 1.6rem);
  transition: color 0.3s;
}
.footer__list-item a:focus, .footer__list-item a:hover {
  color: #1cca59;
  outline: none;
}
.footer__list-item a i {
  margin-right: 0.5em;
  color: #1cca59;
  font-size: 2rem;
  vertical-align: middle;
  opacity: 0.6;
  width: 20px;
  text-align: center;
}
.footer__copy {
  padding-top: 1em;
  margin-top: 1em;
  position: relative;
  text-align: center;
}
.footer__copy::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  height: 1px;
  width: 40%;
  background-color: #1cca59;
  opacity: 0.6;
}

.btn {
  border: 1px solid transparent;
  border-radius: 40px;
  background-color: #1cca59;
  cursor: pointer;
}
.btn a {
  display: inline-block;
  padding: 1em 2em;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: clamp(1.6rem, 1rem + 1vw, 3rem);
  font-weight: 500;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.header {
  position: relative;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.header > .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  text-align: left;
  color: white;
}
.header__logo {
  margin-top: 4em;
  width: 600px;
  width: clamp(200px, 100px + 25vw, 600px);
}
.header__heading {
  margin-top: 0.3em;
  letter-spacing: 5px;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.header__heading .for-reader {
  display: none;
}
.header__text {
  margin: 2em 0;
  font-size: clamp(1.6rem, 1rem + 1vw, 3rem);
  line-height: clamp(3rem, 1rem + 2vw, 5rem);
}
@media (min-width: 48rem) {
  .header__text {
    max-width: 60%;
  }
}
.header__video-c {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;
}
.header__video-c video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.about-us {
  background-image: url("../src/img/bg-header-2.png");
  background-position: center;
  background-size: cover;
  border-top: 5px solid #1cca59;
}
.about-us__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
@media (min-width: 48rem) {
  .about-us__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    row-gap: 5em;
  }
}
.about-us__section-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media (min-width: 48rem) {
  .about-us__section-left {
    grid-column: 1/2;
    grid-row: 1/2;
  }
}
.about-us__section-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 48rem) {
  .about-us__section-right {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}
.about-us__logo {
  width: min(80%, 450px);
}
.about-us__title {
  font-family: "Dancing Script", cursive;
  font-size: clamp(5rem, 3rem + 2vw, 7rem);
  background-image: linear-gradient(0deg, rgb(28, 202, 89) 0%, rgb(41, 53, 86) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-us__desc {
  margin: 2em 0;
}
.about-us__socials {
  display: flex;
  justify-content: center;
  gap: 4em;
  margin-bottom: 4em;
}
.about-us__socials a {
  font-size: 5rem;
  transition: color 0.3s, transform 0.3s;
}
.about-us__socials a:focus, .about-us__socials a:hover {
  color: #1cca59;
  outline: none;
  transform: scale(1.1);
}
.about-us__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}
.about-us__address a {
  font-size: clamp(1.4rem, 1rem + 1.5vw, 1.8rem);
  transition: color 0.3s;
}
.about-us__address a:focus, .about-us__address a:hover {
  color: #1cca59;
  outline: none;
}
.about-us__address a i {
  margin-right: 0.5em;
  color: #1cca59;
  font-size: 3rem;
  vertical-align: middle;
  opacity: 0.6;
}
.about-us__strenghts {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4em;
  width: 100%;
  border-radius: 50px;
}
@media (min-width: 48rem) {
  .about-us__strenghts {
    flex-direction: row;
    gap: 0;
    align-items: flex-start;
  }
}

.strength {
  padding: 0 2em;
  max-width: 40rem;
  color: #fff;
  transition: transform 0.3s;
}
.strength:hover {
  transform: scale(1.1);
}
.strength__icon i {
  font-size: 4rem;
  color: #1cca59;
  text-shadow: 0 0 10px rgba(28, 202, 89, 0.4);
}
.strength__title {
  margin: 1em 0 0.7em;
  font-size: clamp(2.2rem, 1rem + 2vw, 2.3rem);
  letter-spacing: 1px;
}
.strength__desc {
  margin-top: 0.5em;
  font-size: clamp(1.6rem, 1rem + 2vw, 1.8rem);
  line-height: 3rem;
  text-align: center;
}

.brands {
  position: relative;
  background-image: url("../src/img/brands/bg-3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-backdrop-filter: grayscale(50%);
          backdrop-filter: grayscale(50%);
  --mask: radial-gradient(67.08px at 50% 90px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 51% repeat-x,
  	radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px calc(51% - 30px) repeat-x,
  	radial-gradient(67.08px at 50% calc(100% - 90px), #000 99%, #0000 101%) calc(50% - 60px) 100%/120px 51% repeat-x,
  	radial-gradient(67.08px at 50% calc(100% + 60px), #0000 99%, #000 101%) 50% calc(100% - 30px) / 120px
  		calc(51% - 30px) repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.brands ::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -10;
}
.brands__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(2em + 1vw);
}
.brands__item {
  width: min(60%, 270px);
  transition: transform 0.3s;
}
.brands__item:focus, .brands__item:hover {
  transform: scale(1.1);
}
.brands__item--white {
  filter: invert(1);
}

.faq__items-c {
  text-align: left;
}
.faq__item {
  position: relative;
  padding: 2em 0;
  transition: color 0.4s;
  cursor: pointer;
}
.faq__item--active {
  color: #1cca59;
}
@media (min-width: 75rem) {
  .faq__item:focus-within, .faq__item:hover {
    color: #1cca59;
  }
}
.faq__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(28, 202, 89, 0.8);
  box-shadow: 0 0 3px rgba(28, 202, 89, 0.9), 0 0 8px rgba(28, 202, 89, 0.9), 0 0 11px rgba(28, 202, 89, 0.9), 0 0 14px rgba(28, 202, 89, 0.9), 0 0 17px rgba(28, 202, 89, 0.9);
}
.faq__item:first-child::before {
  display: none;
}
.faq__item-header {
  display: flex;
  justify-content: space-between;
}
.faq__item-question {
  font-size: clamp(1.6rem, 1rem + 1.7vw, 2.1rem);
  font-weight: 600;
  letter-spacing: 1px;
}
.faq__item-btn {
  margin-left: 1em;
  font-size: 3rem;
  color: inherit;
  background: none;
  border: 1px solid transparent;
  cursor: inherit;
  vertical-align: middle;
  transition: transform 0.4s;
}
.faq__item-btn:focus, .faq__item-btn:hover {
  transform: scale(1.2);
  outline: none;
}
.faq__item-answer {
  padding: 0.5em 1em 0;
  max-height: 0;
  text-align: justify;
  color: rgba(255, 255, 255, 0.8);
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}
.faq__footer {
  margin-top: 2em;
}
.faq__footer h3 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
.faq__footer p {
  margin: 1em 0;
  color: rgba(255, 255, 255, 0.8);
}
.faq__footer-btn {
  margin-top: 0.2em;
  font-size: 5rem;
  color: inherit;
  background: none;
  border: 1px solid transparent;
  transition: color 0.3s;
  cursor: pointer;
  animation: shake 4s linear infinite;
}
.faq__footer-btn:hover {
  color: #1876f2;
}

@keyframes shake {
  0%, 42% {
    transform: rotate(0deg) scale(1);
  }
  45% {
    transform: rotate(-20deg) scale(1.1);
  }
  48% {
    transform: rotate(20deg) scale(1.1);
  }
  51% {
    transform: rotate(-20deg) scale(1.1);
  }
  54% {
    transform: rotate(20deg) scale(1.1);
  }
  57%, 100% {
    transform: rotate(0deg) scale(1);
  }
}
.categories {
  display: grid;
  gap: 1em;
}
@media (min-width: 48rem) {
  .categories {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2em;
  }
}

.category {
  position: relative;
  max-height: 150px;
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 15px rgb(0, 0, 0);
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
}
@media (min-width: 48rem) {
  .category {
    max-height: -moz-fit-content;
    max-height: fit-content;
    cursor: auto;
  }
}
.category--1 {
  background-image: url("../src/img/offer/category/category-1--mobile.jpg");
}
.category--2 {
  background-image: url("../src/img/offer/category/category-2--mobile.jpg");
}
.category--3 {
  background-image: url("../src/img/offer/category/category-3--mobile.jpg");
}
.category--4 {
  background-image: url("../src/img/offer/category/category-4--mobile.png");
}
.category::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 0 20px rgb(0, 0, 0);
  transition: 0.5s;
  opacity: 0;
  z-index: -1;
}
.category:focus-within {
  z-index: 100;
  box-shadow: 0 0 15px rgba(28, 202, 89, 0.8);
}
.category:focus-within::before {
  opacity: 1;
}
.category:focus-within .category__title {
  box-shadow: 5px 5px 25px rgba(28, 202, 89, 0.8);
}
.category:focus-within .category__desc {
  opacity: 1;
  transform: translateX(0);
}
.category:focus-within .category__btn {
  transform: translate(-50%, -100%);
}
@media (min-width: 48rem) {
  .category:hover {
    z-index: 100;
    box-shadow: 0 0 15px rgba(28, 202, 89, 0.8);
  }
  .category:hover::before {
    opacity: 1;
  }
  .category:hover .category__title {
    box-shadow: 5px 5px 25px rgba(28, 202, 89, 0.8);
  }
  .category:hover .category__desc {
    opacity: 1;
    transform: translateX(0);
  }
  .category:hover .category__btn {
    transform: translate(-50%, -100%);
  }
}
.category--active {
  z-index: 100;
  box-shadow: 0 0 15px rgba(28, 202, 89, 0.8);
}
.category--active::before {
  opacity: 1;
}
.category--active .category__title {
  box-shadow: 5px 5px 25px rgba(28, 202, 89, 0.8);
}
.category--active .category__desc {
  opacity: 1;
  transform: translateX(0);
}
.category--active .category__btn {
  transform: translate(-50%, -100%);
}
.category__svg {
  position: absolute;
  bottom: -15%;
  left: 0;
  right: 0;
}
.category__title {
  padding: 0.5em 1em;
  position: absolute;
  bottom: 1em;
  left: 0;
  color: #fff;
  text-align: left;
  letter-spacing: 1px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #1cca59;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.category__desc {
  padding: 2em 2em 5.5em;
  transform: translateY(-20em);
  font-size: clamp(1.4rem, 1rem + 1.2vw, 1.6rem);
  text-align: justify;
  opacity: 0;
  z-index: 100;
  transition: 0.5s;
}
.category__btn {
  padding: 0.2em 1.4em 0.3em;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  font-size: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid transparent;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transition: 0.5s;
  animation: arrow-down 1.5s infinite ease-out alternate;
}

@keyframes arrow-down {
  from {
    color: #fff;
  }
  to {
    color: #1cca59;
  }
}
.products__container {
  display: grid;
  gap: 1em;
}
@media (min-width: 48rem) {
  .products__container {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2em;
  }
}

.product {
  display: flex;
  flex-direction: column-reverse;
  border: 2px solid #161a1d;
  overflow: hidden;
  box-shadow: 2px 2px 15px rgba(28, 202, 89, 0.4);
  background-color: #fff;
}
.product__title {
  padding: 1em;
  color: #161a1d;
}
.product__body {
  position: relative;
}
.product__front > img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1cca59;
  z-index: 500;
}

.find-us__container {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
}
@media (min-width: 48rem) {
  .find-us__container {
    flex-direction: row;
  }
}
.find-us__title {
  display: inline-block;
  text-align: center;
  position: relative;
  font-size: clamp(2.7rem, 2rem + 1.5vw, 4rem);
  text-transform: uppercase;
  letter-spacing: 2px;
  animation: slide-left 0.4s 0s forwards linear;
}
.find-us__title::before, .find-us__title::after {
  content: "";
  position: absolute;
  height: 30px;
  width: 30px;
}
.find-us__title::before {
  left: -3%;
  bottom: -12%;
  border-left: 2px solid #1cca59;
  border-bottom: 2px solid #1cca59;
}
.find-us__title::after {
  right: -3%;
  top: -12%;
  border-right: 2px solid #1cca59;
  border-top: 2px solid #1cca59;
}
.find-us__container-l {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
}
@media (min-width: 48rem) {
  .find-us__container-l {
    align-items: flex-start;
  }
}
.find-us__address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  animation: slide-left 0.6s 0s forwards linear;
}
.find-us__address div {
  display: flex;
  margin-bottom: 2em;
}
.find-us__address i {
  color: #1cca59;
}
.find-us__address span {
  display: inline-block;
  text-align: left;
}
.find-us__address span > i {
  margin-right: 0.5em;
  font-size: 3rem;
  vertical-align: -5px;
}
.find-us__address span a {
  display: inline-block;
  margin-top: 1em;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  text-decoration: underline;
  letter-spacing: 1px;
}
.find-us__address span a i {
  margin-left: 0.5em;
  font-size: 2rem;
}
.find-us__address > a {
  display: inline-block;
  margin-top: 1.5em;
  text-transform: uppercase;
}
.find-us__address > a i {
  margin-right: 0.2em;
  font-size: 2.5rem;
  vertical-align: middle;
}
.find-us__address a {
  transition: color 0.3s, transform 0.3s;
}
.find-us__address a:hover {
  color: #1cca59;
  transform: scale(1.1);
}
.find-us__map {
  width: min(100%, 800px);
  height: min(100vw, 600px);
  border-radius: 25px;
  border: 1px solid transparent;
  padding: 6px;
  background: linear-gradient(45deg, rgb(28, 202, 89) 0%, #161a1d 40%, #161a1d 60%, rgb(28, 202, 89) 100%);
  background-repeat: no-repeat;
  animation: show-map 1s forwards ease-out;
}

@keyframes slide-left {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes show-map {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.2;
  z-index: -1;
}/*# sourceMappingURL=main.css.map */