@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
	background-color: c.$second;
}

main {
	background-color: c.$second;
	padding-bottom: 4em;
	scroll-margin-top: 50px;
	@media (min-width: b.$x-large) {
		scroll-margin-top: 80px;
	}
}
