@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;
@use '../utilities/helpers' as *;

.cookies {
    padding: 8em 0 4em;
	height: 100%;
	@include flex-center;

    &__title {
        margin-bottom: 1em;

        svg {
            margin-right: 0.5em;
            fill: c.$main;
            width: 10%;
            height: 100%;
            vertical-align: middle;
            }
        }

    &__paragraph {
        margin-bottom: 1.5em;
        // text-align: left;
    }
    ol {
        li {
            margin: 0 2em;
            padding-left: 0.5em;
            text-align: left;
            &::marker {
                color: c.$main;
                font-weight: 600;
            }
        }
    }
}