@use '../utilities/breakpoints' as b;
@use '../utilities/colors' as c;
.header {
	position: relative;
	background-color: rgba(0, 0, 0, 0.3);
	overflow: hidden;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 100vh;
		text-align: left;
		color: white;
	}
	img {
		margin-top: 4em;
		width: 600px;
		width: clamp(200px, 100px + 25vw, 600px);
	}

	&__heading {
		margin-top: 0.3em;
		letter-spacing: 5px;
		text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

		.for-reader {
			display: none;
		}
	}
	&__text {
		margin: 2em 0;
		font-size: clamp(1.6rem, 1rem + 1vw, 3rem);
		line-height: clamp(3rem, 1rem + 2vw, 5rem);
		@media (min-width: b.$medium) {
			max-width: 60%;
		}
	}

	&__video-c {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		z-index: -2;
		video {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
		}
	}
}

.about-us {
	background-image: url('../src/img/bg-header.png');
	background-position: center;
	background-size: cover;
	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto;
	}

	&__section-left {
		grid-column: 1/2;
		grid-row: 1/2;
	}
	&__section-right {
		grid-column: 2/3;
		grid-row: 1/2;
		text-align: center;
	}
	&__logo {
		width: 400px;
	}

	&__strenghts {
		grid-column: 1/3;
		grid-row: 2/3;

		padding: 2em 0;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 100%; // temporary
		// background-color: c.$second;
		border-radius: 50px;

		@media (min-width: b.$medium) {
			flex-direction: row;
			align-items: flex-start;
		}
	}
}

.strength {
	padding: 2em;
	max-width: 40rem;
	color: c.$third;
	&__icon {
		i {
			font-size: 4rem;
			color: c.$main;
			text-shadow: 0 0 10px rgba(28, 202, 89, 0.4);
		}
	}
	&__title {
		margin: 1em 0;
		font-size: clamp(2.2rem, 1rem + 2vw, 2.3rem);
		letter-spacing: 1px;
	}
	&__desc {
		font-size: clamp(1.6rem, 1rem + 2vw, 1.8rem);
		line-height: 2.5rem;
		text-align: center;
	}
}

.brands {
	position: relative;
	background-image: url('../src/img/brands/bg-3.jpg');
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	backdrop-filter: grayscale(50%);
	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -10;
	}

	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: calc(2em + 1vw);
	}
	&__item {
		width: min(60%, 270px);
		transition: transform 0.3s;
		&:focus,
		&:hover {
			transform: scale(1.1);
		}
		&--white {
			filter: invert(1);
		}
	}
}
