@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

.categories {
	display: grid;
	gap: 1em;
	@media (min-width: b.$medium) {
		grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
		grid-auto-rows: 1fr;
		gap: 2em;
	}
}

.category {
	position: relative;
	max-height: 150px;
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
	overflow: hidden;
	transition: 0.5s;
	cursor: pointer;

	@media (min-width: b.$medium) {
		max-height: fit-content;
		cursor: auto;
	}

	&--1 {
		background-image: url('../src/img/offer/category/category-1--mobile.jpg');
	}
	&--2 {
		background-image: url('../src/img/offer/category/category-2--mobile.jpg');
	}
	&--3 {
		background-image: url('../src/img/offer/category/category-3--mobile.jpg');
	}
	&--4 {
		background-image: url('../src/img/offer/category/category-4--mobile.png');
	}
	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.8);
		box-shadow: inset 0 0 20px rgba(0, 0, 0, 1);
		transition: 0.5s;
		opacity: 0;
		z-index: -1;
	}
	&:focus-within {
		z-index: 100;
		box-shadow: 0 0 15px rgba($color: c.$main, $alpha: 0.8);
		&::before {
			opacity: 1;
		}
		.category__title {
			box-shadow: 5px 5px 25px rgba($color: c.$main, $alpha: 0.8);
		}
		.category__desc {
			opacity: 1;
			transform: translateX(0);
		}
		.category__btn {
			transform: translate(-50%, -100%);
		}
	}

	@media (min-width: b.$medium) {
		&:hover {
			z-index: 100;
			box-shadow: 0 0 15px rgba($color: c.$main, $alpha: 0.8);
			&::before {
				opacity: 1;
			}
			.category__title {
				box-shadow: 5px 5px 25px rgba($color: c.$main, $alpha: 0.8);
			}
			.category__desc {
				opacity: 1;
				transform: translateX(0);
			}
			.category__btn {
				transform: translate(-50%, -100%);
			}
		}
	}
	// class handled by JS only for mobile devices
	&--active {
		z-index: 100;
		box-shadow: 0 0 15px rgba($color: c.$main, $alpha: 0.8);
		&::before {
			opacity: 1;
		}
		.category__title {
			box-shadow: 5px 5px 25px rgba($color: c.$main, $alpha: 0.8);
		}
		.category__desc {
			opacity: 1;
			transform: translateX(0);
		}
		.category__btn {
			transform: translate(-50%, -100%);
		}
	}

	&__svg {
		position: absolute;
		bottom: -15%;
		left: 0;
		right: 0;
	}
	&__title {
		padding: 0.5em 1em;
		position: absolute;
		bottom: 1em;
		left: 0;
		color: c.$third;
		text-align: left;
		letter-spacing: 1px;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		background-color: c.$main;
		box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
		transition: 0.5s;
	}

	&__desc {
		padding: 2em 2em 5.5em;
		transform: translateY(-20em);
		font-size: clamp(1.4rem, 1rem + 1.2vw, 1.6rem);
		text-align: justify;
		opacity: 0;
		z-index: 100;
		transition: 0.5s;
	}
	&__btn {
		padding: 0.2em 1.4em 0.3em;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		font-size: 2rem;
		color: c.$third;
		background: rgba(0, 0, 0, 0.7);
		border: 1px solid transparent;
		border-bottom-left-radius: 50%;
		border-bottom-right-radius: 50%;
		transition: 0.5s;
		animation: arrow-down 1.5s infinite ease-out alternate;
	}
}

@keyframes arrow-down {
	from {
		color: c.$third;
	}
	to {
		color: c.$main;
	}
}
.products {
	&__container {
		display: grid;
		gap: 1em;
		@media (min-width: b.$medium) {
			grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
			grid-auto-rows: 1fr;
			gap: 2em;
		}
	}
}
.product {
	display: flex;
	flex-direction: column-reverse;
	border: 2px solid c.$second;
	overflow: hidden;
	box-shadow: 2px 2px 15px rgba($color: c.$main, $alpha: 0.4);
	background-color: c.$third;

	&__title {
		padding: 1em;
		color: c.$second;
	}
	&__body {
		position: relative;
	}
	&__front {
		> img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&__back {
		// display: none;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: rgba($color: c.$main, $alpha: 1);
		z-index: 500;
	}
}
