// * Green main color shades
// #1ed75f
// #00da4c
// #04db50
// #06da51

// * Dark
// #221f20
// #000

// Main colors
$main: #1cca59;
$second: #161a1d;
$third: #fff;

// Text
$text-bright: #fff;
$text-dark: #161a1d;
$text-greyed: #ffffffb3;

// Btns
$btn-primary: $main;
$btn-confirm: $main;
$btn-denied: rgb(146, 0, 0);


// Cookie modal
$cookie-bg: #1e2327;

// Layout

$section-bg: $second;

// Footer background
$footer-bg: #101316;
// $footer-text:

// Hover colors
$btn-hover: #1ed75f;

// Testimonials
$quote-bg: #dddddd;
