@use '../utilities/colors' as c;

.btn {
	position: relative;
	font-family: inherit;
	font-size: clamp(1.5rem, 1rem + 1.1vw, 1.6rem);
	font-weight: 600;
	color: c.$third;
	text-transform: uppercase;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
	border: none;
	letter-spacing: 2px;
	border-radius: 20px;
	background-image: radial-gradient(100% 100% at 100% 0, #82ffa1 0, c.$main 100%);
	overflow: hidden;
	transition: transform 0.5s;


	&::before {
		content: '';
		position: absolute;
		top: -100%;
		left: 0;
		height: 20px;
		width: 100%;
		transform: translateX(-60%) rotate(-75deg);
		background-color: #f3f3f3;
		box-shadow: 0 0 10px #fff;
		filter: blur(1px);
		opacity: 0.9;
		transition: transform 0.5s;

	}
	a {
		display: inline-block;
		padding: 1em 2em;
		height: 100%;
		width: 100%;
	}
	
	&:hover {
		transform: scale(1.02);
	}
	&:hover::before {
		transform: translateX(70%) rotate(-75deg);
	}

}

.btn__scroll-to-top {
	position: fixed;
	bottom: 24px;
	right: 150px;
	background-color: c.$main;
	height: 44px;
	width: 44px;
	font-size: 3rem;
	border-radius: 50%;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;

	svg {
		color: c.$third;
	}
	
	&.active {
		opacity: 0.8;
		pointer-events: all;
		&:hover {
			opacity: 1;
		}
	}
}