@use '../utilities/colors' as c;

.btn {
	border: 1px solid transparent;
	border-radius: 40px;
	background-color: c.$main;
	cursor: pointer;
	a {
		display: inline-block;
		padding: 1em 2em;
		height: 100%;
		width: 100%;
		font-family: 'Roboto', sans-serif;
		color: white;
		font-size: clamp(1.6rem, 1rem + 1vw, 3rem);
		font-weight: 500;
		text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	}
}

.btn__scroll-to-top {
	position: fixed;
	bottom: 24px;
	right: 150px;
	background-color: c.$main;
	height: 44px;
	width: 44px;
	font-size: 3rem;
	border-radius: 50%;
	z-index: 1000;
	opacity: 0;
	transition: opacity 0.3s;
	pointer-events: none;

	svg {
		color: c.$third;
	}
	
	&.active {
		opacity: 0.8;
		pointer-events: all;
		&:hover {
			opacity: 1;
		}
	}
}