@use '../utilities/breakpoints' as b;
@use '../utilities/colors' as c;
@use '../utilities/helpers' as *;

.modal-container {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(2px);
	overflow: auto;
	z-index: 5000;
    transition: opacity 0.6s;
	@media (min-width: b.$medium) {
		@include flex-center;
	}
}

// Modal Age Verification - Home page

.modal-age {
    @include flex-center;
    width: 100%;
    height: 100vh;
    
    &__content {
        padding: 3em 1em;
        width: 100%;
        height: 100%;
        @include flex-center;
        flex-direction: column;
        gap: 1.5em;
        text-align: center;
        background-color: c.$second;
        @media (min-width: b.$small) {
            padding: 4em 1.5em;
            height: auto;
            max-width: 550px;
            border-radius: 15px;
        }
    }

    &__logo {
        width: 60%;
        max-width: 250px;
    }
    &__text {
        font-size: clamp(1.8rem, 1rem + 0.8vw, 2.4rem);
        font-weight: 500;
        letter-spacing: 1px;
    }

    &__text-small {
        font-size: clamp(1.2rem, 1rem + 0.4vw, 1.3rem);
        color: c.$text-greyed;
    }

    &__btns {
        margin-top: 1em;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 1em;
    }
    .btn {
        width: 100%;
    }
}

// Product card modal
.modal-product {
	margin-top: 5em;
	padding: 2em 1em;
	position: relative;
	display: grid;

	gap: 2em;
	background-color: c.$second;

	@media (min-width: b.$medium) {
		grid-template-columns: 45% 1fr;
		grid-template-rows: auto 1fr auto;
		padding: 2em;
		margin: 0;
		border-radius: 25px;
		width: min(100%, 1000px);
	}

	&__title {
		font-family: 'Cinzel', serif;
		color: c.$main;
		text-shadow: 2px 2px 15px rgba($color: c.$third, $alpha: 0.3);
		letter-spacing: 1px;
		@media (min-width: b.$medium) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
	}

	&__image {
		border-radius: 25px;
		width: 100%;
		height: 100%;
		object-fit: cover;

		@media (min-width: b.$medium) {
			grid-column: 1/2;
			grid-row: 1/-1;
			width: min(100%, 450px);
		}
	}

	&__desc {
		display: flex;
		flex-direction: column;
		gap: 2em;
		@media (min-width: b.$medium) {
			grid-column: 2/3;
			grid-row: 2/3;
		}

		&-title {
			margin-bottom: 0.5em;
			color: c.$main;
			letter-spacing: 2px;
		}
		&-short {
			text-align: justify;
		}
		&-specification {
			li {
				position: relative;
				padding-left: 1em;
				font-size: clamp(1.4rem, 1rem + 1.2vw, 1.8rem);
				line-height: clamp(3rem, 1rem + 1.5vw, 3.2rem);
				&::before {
					content: '+ ';
					position: absolute;
					left: 0;
					color: c.$main;
					margin-right: 0.5em;
				}
			}
		}
	}
	&__close-btn {
		&--top {
			padding: 0.7em;
			position: absolute;
			top: 0.3em;
			right: 0.3em;
			font-size: 3rem;
			color: c.$third;
			transition: color 0.3s;
			&:hover {
				color: rgba($color: #ff0000, $alpha: 0.8);
			}
		}
		&--bottom {
			padding: 0.5em;
			color: c.$third;
			font-size: clamp(2rem, 1rem + 1.5vw, 2.4rem);
			background-color: c.$main;
			border-radius: 25px;
			transition: background-color 0.3s;
			&:hover {
				background-color: rgba($color: c.$main, $alpha: 0.7);
			}

			@media (min-width: b.$medium) {
				grid-column: 2/3;
				grid-row: 3/4;
			}
		}
	}
}