@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

.footer {
	position: relative;
	background-color: c.$footer-bg;
	z-index: 500;
	
	.wrapper {
		padding: 2em 0 1em;
		text-align: center;

		@media (min-width: b.$medium) {
			grid-template-rows: auto 1fr;
		}
	}

	&__main {
		padding-bottom: 2em;
		margin-bottom: 1em;
		border-bottom: 1px solid rgba($color: c.$main, $alpha: 0.5);
	}

	&__bottom-c {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5em;
		@media (min-width: b.$medium) {
			flex-direction: row;
			justify-content: space-between;
		}
	}

	&__logo {
		width: min(40%, 80px);
	}
	&__title {
		margin-top: 0.5em;
		font-weight: 700;
		font-size: clamp(2.8rem, 1rem + 1.5vw, 3.4rem);
		color: rgba($color: c.$third, $alpha: 0.9);
	}

	&__copyright,
	&__cookie,
	&__creator {
		font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
		color: rgba($color: c.$third, $alpha: 0.7);
		width: 100%;
	}

	&__copyright {
		@media (min-width: b.$medium) {
		text-align: left;
		}
	}

	&__creator {
		@media (min-width: b.$medium) {
			text-align: right;
			}
	}

	a {
		transition: color 0.3s;	
		
		&:hover {
			color: c.$main;
		}
	}

	// Wave animation styling

	&__wave-c,
	&__wave,
	&__wave::after {
		position: absolute;
	}

	&__wave-c {
		top: -100px;
		left: 0;
		right: 0;
		height: 100px;
		overflow: hidden;
	}

	&__wave {
		top: 0;
		left: 0;
		height: 100%;
		width: 200%;
		background-image: url('../img/footer/wave.svg');
		background-repeat: repeat-x;
		background-position: bottom;
	}

	&__wave {
		animation: wave-animation 25s infinite ease-out alternate;
		@media (min-width: b.$medium) {
			animation-duration: 75s;
		}
	}
}

@keyframes wave-animation {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
