@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

.footer {
	position: relative;
	background-color: c.$footer-bg;
	color: rgba($color: c.$third, $alpha: 0.8);
	z-index: 500;

	position: relative;

	.wrapper {
		padding: 2em 0 1em;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto 1fr 1fr;
		text-align: center;

		@media (min-width: b.$medium) {
			grid-template-rows: auto 1fr;
		}
	}

	&__main {
		padding-bottom: 2em;
		margin-bottom: 1em;
		grid-column: 1/3;
		grid-row: 1/2;
		border-bottom: 1px solid rgba($color: c.$main, $alpha: 0.5);
	}

	&__logo {
		width: min(40%, 80px);
	}
	&__title {
		margin-top: 0.5em;
		font-family: 'Dancing Script', cursive;
		font-size: clamp(2.8rem, 1rem + 1.5vw, 3.4rem);
	}

	&__copyright,
	&__creator {
		font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
		color: rgba($color: c.$third, $alpha: 0.7);
	}

	&__copyright {
		grid-column: 1/3;
		grid-row: 2/3;
		@media (min-width: b.$medium) {
			grid-column: 1/2;
			grid-row: 2/3;
			text-align: left;
		}
	}
	&__creator {
		grid-column: 1/3;
		grid-row: 3/4;
		@media (min-width: b.$medium) {
			grid-column: 2/3;
			grid-row: 2/3;
			text-align: right;
		}
	}

	// Wave animation styling

	&__wave-c,
	&__wave,
	&__wave::after {
		position: absolute;
	}

	&__wave-c {
		top: -100px;
		left: 0;
		right: 0;
		height: 100px;
		overflow: hidden;
	}

	&__wave {
		top: 0;
		left: 0;
		height: 100%;
		width: 200%;
		background-image: url('../src/img/footer/wave.svg');
		background-repeat: repeat-x;
		background-position: bottom;
	}

	&__wave {
		animation: wave-animation 25s infinite ease-out alternate;
		@media (min-width: b.$medium) {
			animation-duration: 75s;
		}
	}
}

@keyframes wave-animation {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-50%);
	}
}
