@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0.7em 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1000;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 60px;
		z-index: 500;
		cursor: pointer;

		svg {
			display: block;
			height: 100%;
			width: 100%;

			.cls-1 {
				fill: c.$third;
				transition: 0.3s;
			}
		}

		&:focus,
		&:hover {
			outline: none;
			svg .cls-1 {
				fill: c.$main;
			}
		}
	}

	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 5em;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s;

		&::before,
		&::after {
			content: '';
			transform: translate(50%, -50%) scale(0);
			position: absolute;
			top: 0;
			right: 0;
			width: 950px;
			height: 950px;
			z-index: 100;
			transition: opacity 0.5s, transform 0.5s;
			opacity: 0;
		}
		&::before {
			background-color: c.$main;
			border-radius: 50%;
		}
		&::after {
			background-color: c.$second;
			border-radius: 40%;
		}

		&--active {
			opacity: 1;
			pointer-events: all;
	
			&::before {
				transform: translate(45%, -50%) scale(1.15);
				opacity: 0.8;
			}
			&::after {
				transform: translate(45%, -50%) scale(1);
				opacity: 1;
			}
		}
		@media (min-width: b.$small) {
			padding: 0;
			position: static;
			flex-direction: row;
			height: auto;
			width: auto;
			opacity: 1;
			pointer-events: all;
		}
	}
	&__list,
	&__socials {
		position: relative;
		text-align: center;
		z-index: 500;
	}

	&__list {
		@media (min-width: b.$small) {
			display: flex;
			align-items: center;
		}
	}

	&__socials {
		display: flex;
		margin-top: 1em;
		opacity: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 50%;
			height: 1px;
			background-color: c.$third;
			@media (min-width: b.$medium) {
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				width: 1px;
				height: 50%;
			}
		}
		@media (min-width: b.$small) {
			display: none;
		}
		@media (min-width: b.$medium) {
			display: flex;
			align-items: center;
			opacity: 1;
			margin: 0 0 0 1em;
			padding-left: 1em;
			width: 130px;
			height: 60px;
		}
	}

	&__list-item a,
	&__socials-item a {
		display: inline-block;
		position: relative;
		font-weight: 500;
		opacity: 0;

		&:hover,
		&:focus {
			outline: none;
		}
		@media (min-width: b.$small) {
			opacity: 1;
		}
	}

	&__list-item {
		&.active {
			a {
				color: c.$main;
			}
			@media (min-width: b.$small) {
				a {
					color: inherit;
				}
				a::after {
					transform: scaleX(1);
				}
			}
		}

		a {
			padding: 1em 2em;
			font-size: 1.8rem;

			@media (min-width: b.$small) {
				padding: 1em 1.5em;
				&::after {
					content: '';
					position: absolute;
					bottom: 5px;
					left: 15%;
					height: 3px;
					width: 70%;
					background-color: c.$main;
					transform: scaleX(0);
					transform-origin: right;
					transition: transform 0.5s;
				}
				&:focus::after,
				&:hover::after {
					transform: scaleX(1);
					transform-origin: left;
				}
		}
	}}
	&__socials-item a {
		padding: 1em;
		font-size: 3.5rem;
		transition: color 0.3s;
		@media (min-width: b.$small) {
			padding: 0.4em 0.5em;
			font-size: 3rem;
		}
		&:focus,
		&:hover {
			color: c.$main;
		}

	}

	.hamburger {
		z-index: 500;

		@media (min-width: b.$small) {
			display: none;
		}
	}
}

// Animation for mobile menu elements

.navbar__menu--active {
	.navbar__list-item a {
		animation: fromshadow 0.3s 0.2s forwards;
	}
	.navbar__list-item:nth-child(2) a {
		animation-delay: 0.3s;
	}
	.navbar__list-item:nth-child(3) a {
		animation-delay: 0.4s;
	}
	.navbar__list-item:nth-child(4) a {
		animation-delay: 0.5s;
	}
	.navbar__socials {
		animation: fromshadow 0.3s 0.6s forwards;
	}
	.navbar__socials-item a {
		animation: fromshadow 0.3s 0.7s forwards;
	}
	.navbar__socials-item:nth-child(2) a {
		animation-delay: 0.8s;
	}
}

@keyframes fromshadow {
	from {
		scale: 0;
		opacity: 0;
	}
	to {
		scale: 1;
		opacity: 1;
	}
}