@use '../utilities/colors' as c;
@use '../utilities/breakpoints' as b;

.navbar {
	position: fixed;
	padding: 0.7em 0;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	// box-shadow: 0 25px 30px rgba(0, 0, 0, 0.4);
	z-index: 500;
	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		position: relative;
		width: 60px;
		height: 50px;
		background-image: url('../src/img/nav-logo-white.png');
		background-size: contain;
		z-index: 500;
		transition: background-image 0.3s;
		cursor: pointer;

		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	bottom: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-image: url('../src/img/nav-logo.png');
		// 	background-size: contain;
		// 	z-index: 500;
		// 	opacity: 0;
		// 	transition: opacity 0.3s;
		// }

		// img {
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	z-index: 0;
		// }

		&:focus,
		&:hover {
			outline: none;
			background-image: url('../src/img/nav-logo.png');
		}
		// &:focus::after,
		// &:hover::after {
		// 	opacity: 1;
		// }
	}

	// &__list {
	// 	display: none;
	// 	margin-left: auto;
	// 	list-style: none;

	// 	@media (min-width: b.$medium) {
	// 		display: flex;
	// 	}
	// }
	// &__list-item a {
	// 	display: inline-block;
	// 	position: relative;
	// 	padding: 1em 2em;
	// 	font-size: 1.8rem;
	// 	font-weight: 500;
	// 	transition: color 0.3s;

	// 	&::after {
	// 		content: '';
	// 		position: absolute;
	// 		bottom: 0;
	// 		left: 15%;
	// 		height: 3px;
	// 		width: 70%;
	// 		background-color: c.$main;
	// 		transform: scaleX(0);
	// 		transition: transform 0.5s;
	// 		transform-origin: right;
	// 	}
	// 	&:focus,
	// 	&:hover {
	// 		color: c.$main;
	// 		outline: none;
	// 	}
	// 	&:focus::after,
	// 	&:hover::after {
	// 		transform: scaleX(1);
	// 		transform-origin: left;
	// 	}
	// }

	// &__socials {
	// 	display: none;
	// 	position: relative;
	// 	margin-left: 1em;
	// 	padding-left: 1em;
	// 	&::before {
	// 		content: '';
	// 		position: absolute;
	// 		top: 50%;
	// 		left: 0;
	// 		transform: translate(0, -50%);
	// 		height: 50%;
	// 		width: 1px;
	// 		background-color: c.$third;
	// 	}

	// 	@media (min-width: b.$medium) {
	// 		display: block;
	// 	}
	// }
	// &__socials-item {
	// 	transition: color 0.3s;
	// 	i {
	// 		padding: 0.5em;
	// 		font-size: 3rem;
	// 	}
	// 	&:hover,
	// 	&:focus {
	// 		color: c.$main;
	// 		outline: none;
	// 	}
	// }

	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 5em;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s;

		&::before,
		&::after {
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100vw;
			z-index: 100;
			transition: transform 0.3s;
		}
		&::before {
			content: '';
			transform: translate(50%, -50%) scale(0);
			background-color: c.$main;
			opacity: 0.8;
			border-radius: 50%;
		}
		&::after {
			content: '';
			transform: translate(50%, -50%) scale(0);
			background-color: c.$second;
			border-radius: 40%;
		}

		&--active {
			opacity: 1;
			pointer-events: all;
			&::before {
				transform: translate(50%, -50%) scale(3.3);
			}
			&::after {
				transform: translate(50%, -50%) scale(2.9);
			}
		}
		@media (min-width: b.$medium) {
			padding: 0;
			position: static;
			flex-direction: row;
			height: auto;
			width: auto;
			opacity: 1;
			pointer-events: all;
		}
	}
	&__list,
	&__socials {
		position: relative;
		list-style: none;
		text-align: center;
		z-index: 500;
		@media (min-width: b.$medium) {
			display: flex;
		}
	}

	&__socials {
		display: flex;
		margin-top: 1em;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, 0);
			width: 50%;
			height: 1px;
			background-color: c.$third;
			@media (min-width: b.$medium) {
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
				width: 1px;
				height: 50%;
			}
		}
		@media (min-width: b.$medium) {
			margin: 0 0 0 1em;
			padding-left: 1em;
		}
	}

	&__list-item a,
	&__socials-item a {
		display: inline-block;
		position: relative;
		font-weight: 500;
		transition: color 0.3s;
		&:hover,
		&:focus {
			color: c.$main;
			outline: none;
		}
	}

	&__list-item a {
		padding: 1em 2em;
		font-size: 1.8rem;
		@media (min-width: b.$medium) {
			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 15%;
				height: 3px;
				width: 70%;
				background-color: c.$main;
				transform: scaleX(0);
				transition: transform 0.5s;
				transform-origin: right;
			}
			&:focus::after,
			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
	&__socials-item a {
		padding: 1em;
		font-size: 3.5rem;
		@media (min-width: b.$medium) {
			padding: 0.4em 0.5em;
			font-size: 3rem;
		}
	}

	.hamburger {
		z-index: 500;
		@media (min-width: b.$medium) {
			display: none;
		}
	}
}
